<a href="https://colab.research.google.com/github/KKETKAEW/2567-JavaProgramming/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
class book():
  pass

In [101]:
def init(b,name,num,price):
  b.name=name
  b.ISBN=num
  b.price=price

In [102]:
b1=book()
init(b1,"python",1234567890,300)

In [103]:
b1.price

300

In [104]:
b2=book()
init(b2,"deep learning",9876543210,500)

In [105]:
b3=book()
init(b3,"โครงสร้างข้อมูล",456789123,250)

In [106]:
def total_price(books):
    sum=0
    for b in books:
        sum=sum+b.price
    return sum

In [107]:
class book():
    def _init_(self,name,num,price):
      self.name=name
      self.ISBN=num
      self.price=price

In [108]:
class BankAccount():
  def __init__(self,acc_no,acc_name,balance):
    self.accc_name=acc_name
    self.balance=balance

In [109]:
acc1=BankAccount(1234567890,"Somchai",500)

In [110]:
class Time():
  def __init__(self,time_string):
    hour,minute,second=time_string.split(":")
    self.hour=hour
    self.minute=minute
    self.second=second

    def get_hour(self):
      return self.hour
    def get_minute(self):
      return self.minute
    def get_second(self):
      return self.second

In [111]:
time1 =Time("10:30:00")
print(time1.hour,time1.minute,time1.second)

10 30 00

In [112]:
time1.hour

'10'

In [113]:
class Book:
  def __init__(self,name,num,price):
    self.title = name
    self.isbn = num
    self.price = price
  def discount(self,percent):
    self.price = self.price*(100 - percent)/100

In [114]:
b1 = Book("Python 101","14919012X",300)

In [115]:
b1.discount(20)
print(b1.price)

240.0

In [120]:
class BankAccount():
  def __init__(self,num,name,balance):
    self.acc_name = name
    self.acc_num = num
    self.balance = balance
  def deposit(self,amount):
    self.balance += amount
  def widthdraw(self,amount):
    self.balance -= amount
  def transfer(self,other,amount):
    self.balance -= amount
    other.balance += amount

In [122]:
a1 = BankAccount(1234567890,"นายใจดี มีสุข", 500)
a2 = BankAccount(9876543210,"นางสาวปราณี สุขใจ", 500)

a1.deposit(1000)
print(a1.acc_name,a1.balance)
a2.widthdraw(300)
print(a2.acc_name,a2.balance)
print()
a1.transfer(a2,800)
print(a1.acc_name,a1.balance)
print(a2.acc_name,a2.balance)

นายใจดี มีสุข 1500
นางสาวปราณี สุขใจ 200

นายใจดี มีสุข 700
นางสาวปราณี สุขใจ 1000