<a href="https://colab.research.google.com/github/KKETKAEW/2567-JavaProgramming/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
length1 = 5
width1 = 10
area1 = length1 * width1
print(f'The area of rectangle 1 is {area1}')

length2 = 7
width2 = 3
area2 = length2 * width2
print(f'The area of rectangle 2 is {area2}')

length3 = 6
width3 = 8
area3 = length3 * width3
print(f'The area of rectangle 3 is {area3}')

The area of rectangle 1 is 50
The area of rectangle 2 is 21
The area of rectangle 3 is 48

In [7]:
def greet():
  print("Hello World")

greet()
print('Outside the function')

Hello World
Outside the function

In [12]:
def greet2(name,age):
  print("Hello {}, you are {} years old" .format(name,age))

greet2('Piploy',19)

Hello Piploy, you are 19 years old

In [19]:
def find_square(num):
  result = num * num
  return result

a = find_square(2)

In [20]:
a

4

In [21]:
def find_square(num):
  result = num **2
  return result

a = find_square(2)

In [23]:
#a=5
#print(a)
#a=10
#print(a)

a=[1,2,3,4,5]
print(a)
a[2]=10
print(a)

[1, 2, 3, 4, 5]
[1, 2, 10, 4, 5]

In [29]:
a=[1,2,3,4,5]
b=a
b[0]=7
print(a)
print(b)

[7, 2, 3, 4, 5]
[7, 2, 3, 4, 5]

In [30]:
a=[1,2,3,4,5]
b=a[:]
b[0]=7
print(a)
print(b)

[1, 2, 3, 4, 5]
[7, 2, 3, 4, 5]

In [31]:
a=[1,2,3,4,5]
b=a.copy()
b[0]=7
print(a)
print(b)

[1, 2, 3, 4, 5]
[7, 2, 3, 4, 5]

In [36]:
message = input("Input text : ")
def is_palindrome(message):
   message=message.lower()
   return message == message[::-1]
print(is_palindrome(message))

Input text : Radar
True

In [37]:
def is_palindrome(s):
  s=s.lower()
  reverse_s = s[::-1]
  if reverse_s == s:
    return True
  else:
    return False

st =  input("Input text : ")
is_palindrome(st)

Input text : Radar

True

In [42]:
n = input("Input N : ")
def fibonacci(n):
  a,b = 0,1
  for i in range(n):
    print(a)
    a,b = b,a+b

fibonacci(int(n))

Input N : 10
0
1
1
2
3
5
8
13
21
34

In [44]:
def fibonacci(n):
  a = [0,1]
  for i in range(2, n):
    a.append(a[-1] + a[-2])
  return a[:n+1]

num = int(input("Input N :"))
print(fibonacci(num))

Input N :10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [43]:
def fibonacci(n):
  fibo = [0,1]
  for i in range(2, n):
    fibo.append(fibo[i-2] + fibo[i-1])
    return fibo

num=int(input("Input N : "))
print(fibonacci(num))

Input N : 10
[0, 1, 1]

In [ ]:
a=[1,2,3,4,5]
b=(1,2,3,4,5)
a[0]=7
b[0]=7

In [58]:
country_capitals = {"Germany": "Berlin","England": "London"}
lst =["Berlin","London"]

In [59]:
print(country_capitals["Germany"])
print(lst[0])

Berlin
Berlin

In [60]:
#del(country_capitals["Germany"])
#print(country_capitals)

country_capitals.pop("Germany")
print(country_capitals)

{'England': 'London'}

In [61]:
country_capitals.clear()
print(country_capitals)

{}

In [62]:
for capitals in country_capitals:
  print(country_capitals[capitals])
 # print(capitals)

In [63]:
print ("GermanMy" in country_capitals)

False

In [67]:
def invert_dict(d):
  inverted = {}
  for key, value in d.items():
    inverted[value] = key
  return inverted

data ={'a':1, 'b':2, 'c':3}
print(invert_dict(data))

{1: 'a', 2: 'b', 3: 'c'}

In [71]:
def invert_dic(dic):
  result ={}
  for key in dic:
    value =dic[key]
    result[value] = key
  return result


data ={'a':1, 'b':2, 'c':3}
print(invert_dic(data))

{1: 'a', 2: 'b', 3: 'c'}

In [79]:
def frequency(l):
  result = {}
  for item in l:
    if item in result:
      result[item]=result[item]+1
    else:
      result[item] = 1
  return result

numbers = [5,1,5,5,3,3]
print(frequency(numbers))

{5: 3, 1: 1, 3: 2}